.toggleTheme__wrapper {
    width: 100px;
    height: 40px;
    border-radius: 100px;
    background-color: rgb(216, 216, 216);
    border: 1px solid rgb(185, 185, 185);

}
.toggleTheme__circle {
width: 40px;
height: 40px;
border-radius: 100px;
background-color: white;
transition: 0.2s;

}
.toggleTheme__active {
    background: lime;
    border: 1px solid rgb(0, 212, 0);
}

.toggleTheme__active .toggleTheme__circle {
    margin-left: 60px;
   
}
.activeBody{
background: #222;
}

.btn {
    padding: 10px 40px;
    border: 0;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    background: #444;
}
